<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.incident_capture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".incidence_register"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".RecordActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Reporter"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Responser"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListItemActivity1" />
        <activity android:name=".ClickableListActivity" />
        <activity android:name=".incidence_reports" />
        <activity android:name=".responser_history" />
        <activity android:name=".ListItemActivity2" />
        <activity android:name=".Responser_category" />
        <activity android:name=".ListItemActivity3"></activity>
    </application>

</manifest>